# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Hero_and_Dragon.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\School\AP2\OP\Hero_and_Dragon\.idea\.idea.Hero_and_Dragon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
